*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #292929;
	height: 100vh;
}

main {
	min-height: 75vh;
}

.container {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
}

.container--flex {
	display: flex;
	justify-content: space-between;
}

.navbar {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.navbar__logo {
	padding: 0.5rem 0;
	font-weight: bold;
	color: #6c4338;
	font-size: 1.25rem;
}

.navbar__logo,
.navbar__link {
	text-decoration: none;
}

.navbar__nav {
	display: flex;
	list-style-type: none;
}

.navbar__item {
	padding: 0.5rem;
}

.navbar__item:last-of-type {
	padding-right: 0;
}

.navbar__link {
	color: #292929;
}

.navbar__link--active {
	font-weight: bold;
}

.btn {
	text-decoration: none;
	padding: 1rem 1.25rem;
	font-weight: bold;
	color: #292929;
}

.btn--cta,
.btn--primary {
	background-color: #6c4338;
	color: #fff;
	border-radius: 1rem;
}

img {
	display: block;
	width: 100%;
}

.attribution,
.attribution > a {
	font-size: 0.75rem;
	color: #737373;
}

.section-heading {
	font-size: 2rem;
	margin-bottom: 1.25rem;
	font-weight: 900;
}

.side-heading {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

footer {
	padding: 3rem 0;
	background-color: #fff6f4;
}

footer p {
	text-align: center;
	color: #6c4338;
}
